#contacts {
  background-color: $primary-color-1;
  padding: 10rem 0 9.5rem;
  position: relative;
  .contacts-content {
    margin-top: 6.7rem;
    .info {
      p {
        font-size: 1.8rem;
        line-height: 1.4rem;
        color: $text-color-1;
        margin-bottom: 3rem;
        &:first-child {
          font-weight: bold;
          margin-bottom: 2.2rem;
          margin-top: 1.8rem;
        }
        &:nth-child(2) {
          margin-bottom: 3.7rem;
        }
        i {
          color: #c0c0c0;
          margin-right: 1rem;
        }
        a {
          color: $text-color-1;
        }
      }
      ul {
        padding-left: 0;
        padding-top: 2.5rem;
        list-style: none;

        li {
          display: inline-block;
          background-color: #c0c0c0;
          border-radius: 50%;
          height: 3.5rem;
          width: 3.5rem;
          text-align: center;
          transition: all 0.3s;
          margin-right: 1.5rem;
          i {
            line-height: 3.5rem;
            color: $primary-color-1;
          }
          &:hover {
            background-color: #fff;
          }
        }
      }
    }
    .form {
      input {
        padding-top: 2.5rem;
        padding-bottom: 2.2rem;
        padding-left: 2.2rem;
        margin-bottom: 2.2rem;

        border-radius: 3px;
        border: none;
        display: block;
        // width: calc((100% - 22px) / 2);
        width: 100%;
        &:focus {
          outline: none;
        }
        &::placeholder {
          font-size: 1.8rem;
          // line-height: 1.3rem;
        }
        // &:first-child {
        //   margin-right: 2.2rem;
        //   float: left;
        // }
      }
      textarea {
        margin-bottom: 2.2rem;
        padding-left: 2.2rem;
        padding-top: 2.2rem;
        display: block;
        width: 100%;
        border: none;
        border-radius: 3px;
        resize: none;
        &::placeholder {
          font-size: 1.8rem;
          line-height: 1.3rem;
        }
        &:focus {
          outline: none;
        }
      }
      .pri-btn {
        padding-left: 5.6rem;
        padding-right: 6rem;
      }
    }
  }
  .easyTop {
    position: fixed;
    bottom: 4.8rem;
    right: 3.3rem;
    border-radius: 5px;
    z-index: 999;
    transition: 0.3s;
    &:hover {
      box-shadow: 0 0 10px $primary-color-2;
    }
  }
}



@media screen and (min-width: 768px) {
  #contacts {
    .contacts-content {
      .form {
        .col-sm-6:nth-child(1) {
          padding-right: 0;
          margin-right: 2.2rem;
        }
        .col-sm-6:nth-child(2) {
          padding-left: 0;
        }
        .col-sm-6 {
          width: calc((100% - 22px)/2);
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  #contacts {
    .contacts-content {
      .info {
        ul {
          padding-top: 0;
        }
      }
      .form {
        margin-top: 5rem;
      }
    }
  }
}

@media screen and (max-width: 567px) {
  #contacts {
    .contacts-content {
      .info {
       p {
         line-height: unset;
       }
      }

    }
    .pri-btn {
      width: 100%;
    }
  }
}

