#footer {
    background-color: $secondary-color-1;
    padding-top: 6rem;
    padding-bottom: 5.8rem;
    .cpright {
        color: $text-color-1;
        opacity: .5;
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.3rem;
        padding-bottom: 2.7rem;
    }
    img {
        opacity: 0.5;
    }
}