@import "../customBootstrap/_customVariables.scss";
html,body {
  font: {
    family: "Open Sans" !important;
    // size: 62.5%;
  }
}

.hori-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font: {
    weight: bold;
    size: 3rem;
  }
  line-height: 1.8rem;
  color: $text-color-1;
}

.desc {
  font: {
    weight: 400;
  }
  color: $text-color-1;
}

.pri-btn {
    color: $text-color-1;
    background-color: $primary-color-2;
    box-shadow: none;
    border-radius: 2px;
    border: none;
    padding: 13px 34px 12px 28px;
    transition: 0.3s;
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: $primary-color-2-hover;
    }
}

.big-title {
  @extend .title;
  font-size: 4.8rem;
  line-height: 3.6rem;
  text-align: center;
}

.small-title {
  @extend .title;
  font-size: 3rem;
  line-height: 2.3rem;
  text-align: center;
}

.big-desc {
  font-size: 2.4rem;
  line-height: 1.8rem;
  color: $text-color-1;
  text-align: center;
  margin-top: 2.2rem;
}

.small-desc {
  text-align: center;
  color: $text-color-1;
  font-size: 1.8rem;
  line-height: 1.1rem;
  margin-top: 2.1rem;
  margin-bottom: 1.8rem;
}

@media screen and (max-width: 567px) {
  .big-title {
    line-height: 4.8rem;
  }
  .small-title {
    line-height: 3rem;
  }
  .big-desc {
    line-height: 2.4rem;
  }
  .small-desc {
    line-height: 1.8rem;
  }
}