#header-content {
  background-color: $secondary-color-1;
  padding-top: 8rem;
  position: relative;
  background-size: cover;
  .header-title {
    font-size: 3.6rem;
    line-height: 2.6rem;
    margin-top: 12rem;
    margin-bottom: 4.6rem;
  }
  .desc {
    font-size: 2.4rem;
    line-height: 1.9rem;
    margin-bottom: 7rem;
  }
  .pri-btn {
    font-size: 1.8rem;
    line-height: 1.3rem;
    padding: 2.1rem 5.3rem 2rem 4.9rem;
    letter-spacing: 1px;
    margin-bottom: 13.7rem;
    border-radius: 3px;
    &:focus {
      outline: none;
    }
  }
  .intro-img {
    padding-left: 46.5rem;
    padding-top: 35rem;
    background-size: cover;
    border-radius: 3px;
    border: none;
    margin-top: 5.5rem;
    position: absolute;
    right: 15px;
    z-index: 2;
    box-shadow: -1px 1px 0px rgba($color: #64656e, $alpha: 0.7),
      -2px 2px 0px rgba($color: #64656e, $alpha: 0.7),
      -3px 3px 0px rgba($color: #64656e, $alpha: 0.7),
      -4px 4px 0px rgba($color: #64656e, $alpha: 0.7),
      -5px 5px 0px rgba($color: #64656e, $alpha: 0.7),
      -6px 6px 0px rgba($color: #64656e, $alpha: 0.7),
      -7px 7px 0px rgba($color: #64656e, $alpha: 0.7),
      -8px 8px 0px rgba($color: #64656e, $alpha: 0.7),
      -9px 9px 0px rgba($color: #64656e, $alpha: 0.7),
      -10px 10px 0px rgba($color: #64656e, $alpha: 0.7),
      -11px 11px 0px rgba($color: #64656e, $alpha: 0.7),
      -12px 12px 0px rgba($color: #64656e, $alpha: 0.7),
      -13px 13px 0px rgba($color: #64656e, $alpha: 0.7),
      -14px 14px 0px rgba($color: #64656e, $alpha: 0.7),
      -15px 15px 0px rgba($color: #64656e, $alpha: 0.7),
      -16px 16px 0px rgba($color: #64656e, $alpha: 0.7),
      -17px 17px 0px rgba($color: #64656e, $alpha: 0.7),
      -18px 18px 0px rgba($color: #64656e, $alpha: 0.7),
      -19px 19px 0px rgba($color: #64656e, $alpha: 0.7),
      -20px 20px 0px rgba($color: #64656e, $alpha: 0.7);
  }
  .Box1 {
    position: relative;
    z-index: 1;
    &::before {
      overflow: hidden;
      content: "";
      border-radius: 9px;
      position: absolute;
      width: 86rem;
      height: 45rem;
      top: 4.5rem;
      left: 6rem;
      background-color: #212331;
      z-index: -1;
      box-shadow: -1px 1px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -2px 2px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -3px 3px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -4px 4px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -5px 5px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -6px 6px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -7px 7px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -8px 8px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -9px 9px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -10px 10px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -11px 11px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -12px 12px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -13px 13px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -14px 14px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -15px 15px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -16px 16px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -17px 17px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -18px 18px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -19px 19px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -20px 20px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -21px 20px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -22px 21px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -23px 22px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -24px 23px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -25px 24px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -26px 25px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -26px 26px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -27px 27px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -28px 28px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -29px 29px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -30px 30px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -31px 31px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -32px 32px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -33px 33px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -34px 34px 0px rgba($color: #1a1b2b, $alpha: 0.7),
        -35px 35px 0px rgba($color: #1a1b2b, $alpha: 0.7);
    }
  }
  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: $secondary-color-1, $alpha: .9);
  }
}

@media screen and (max-width: 1199px) {
  #header-content {
    .header-title {
      font-size: 3rem;
    }
    .desc {
      font-size: 2rem;
    }
    .pri-btn {
      margin-bottom: 9rem;
    }
    .intro-img {
      transform: scale(0.7, 0.7);
      transform-origin: right top;
    }
  }
}

@media screen and (max-width: 991px) {
  #header-content {
    .intro-img {
      transform: scale(0.8, 0.8);
      transform-origin: center top;
      position: static;
      margin-top: 0;
    }
    .Box::before {
      transform: scale(0.7,0.7);
      transform-origin: left top;
    } 
  }
}

@media screen and (max-width: 767px) {
  #header-content {
    .intro-img {
      transform: scale(0.8,0.8);
    }
    .Box::before {
      transform: scale(0.5,0.5);
      transform-origin: left top;
    }
    .pri-btn {
      margin-bottom: 5rem;
    }
  }
}

@media screen and (max-width: 567px) {
  #header-content {
    .header-title {
      font-size: 2.5rem;
      margin-top: 5rem;
      margin-bottom: 2.6rem;
    }
    .desc {
      font-size: 1.8rem;
      margin-bottom: 4rem;
    }
    .pri-btn {
      margin-bottom: 5rem;
    }
    .Box {
      &::before {
        width: 22rem;
        height: 20rem;
        top: 2.5rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .intro-img {
      transform: none;
      padding-left: 22rem;
      padding-top: 19rem;
      margin-bottom: 5rem;
    }
  }
}
