#navbar {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: #0d0b11;
  height: 8rem;
  .logo {
    float: left;
    margin-top: 2.8rem;
    img {
      height: 24px;
    }
    .icon {
      display: none;
      font-size: 2.4rem;
      line-height: 2.4rem;
      color: $text-color-1;
      text-decoration: none;
    }
  }
  .navbar {
    float: right;
    margin-top: 2.8rem;
    a {
      font: {
        size: 1.4rem;
      }
      color: $text-color-1;
      line-height: 2.4rem;
      margin-left: 5.2rem;
      transition: all .3s;
      &.active, &:hover {
        color: $primary-color-2;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #navbar {
    &.h-auto {
      height: auto;
    }
    .logo {
      float: none;
      .icon {
        display: block;
        float: right;
        &:hover {color: $primary-color-2;}
      }
    }
    .navbar {
      display: none;
      float: none;
      &.responsive {
        display: block;
        a {
          display: block;
          text-align: center;
          margin-bottom: 2rem;
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
  }
}
