#portofolio {
  padding-top: 9rem;
  .small-title {
    color: $text-color-2;
  }
  .small-desc {
    color: $text-color-2;
  }
  .breadcrumb {
    list-style: none;
    text-align: center;
    margin-top: 8.5rem;
    margin-bottom: 4.8rem;
    padding-left: 0;
    li {
      display: inline;
      color: #a7a7a7;
      padding: 0 4px;
      font-size: 1.8rem;
      line-height: 1.4rem;
      &.active,
      &:hover {
        color: $text-color-2;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .imglist {
    .element-item {
      margin-bottom: 3rem;
      text-align: center;
      .img-item {
        position: relative;
        display: inline-block;
        .over-lay {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          background-color: rgba($color: $primary-color-1, $alpha: .7);
          display: table;
          opacity: 0;
          transition: 0.3s;

          .content {
            color: $text-color-1;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            padding: 0 5.5rem;
            h1 {
              font-size: 2.4rem;
              font-weight: bold;
              line-height: 2.4rem;
              margin-top: 0;
            }
            p {
              font-size: 1.4rem;
              line-height: 1.8rem;
            }
            i {
              font-size: 2.8rem;
            }
          }
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  .browse {
    margin-top: 4rem;

    p {
      font-size: 1.8rem;
      line-height: 1.3rem;
      font-weight: bold;
      color: $text-color-2;
      transition: 0.3s;
      display: block;
    }
    img {
      margin-top: 0.4rem;
    }
  }
}
