#services {
  background-color: $primary-color-1;
  position: relative;
  z-index: 3;
  padding-top: 7.2rem;
  padding-bottom: 10rem;
  img {
    margin-bottom: 7.4rem;
  }
  .services-content .service-item {
    .icon {
      font-size: 57px;
      color: $text-color-1;
      text-align: center;
      transition: 0.3s;
      &:hover {
        color: $primary-color-2;
      }
    }
    .item-title {
      color: $text-color-1;
      text-align: center;
      font-size: 1.8rem;
      line-height: 1.4rem;
      margin-bottom: 1.8rem;
    }
    .item-desc {
      color: $text-color-1;
      text-align: center;
      font-size: 1.4rem;
      line-height: 1.8rem;
      padding-left: 2.6rem;
      padding-right: 2.6rem;
      margin-bottom: 3rem;
    }
    .pri-btn {
      font-size: 1.1rem;
      line-height: 0.8rem;
    }
  }
}

@media screen and (max-width: 991px) {
    #services {
        .service-item {
            margin-bottom: 5rem;
            &:nth-child(n+3) {
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (max-width: 767px) {
  #services {
    .service-item {
      margin-bottom: 5rem;
      &:nth-child(n+3) {
        margin-bottom: 5rem;
    }
      &:nth-child(4) {
          margin-bottom: 0;
      }
  }
  }
}

@media screen and (max-width: 567px) {
    #services {
        .service-item {
            margin-bottom: 5rem;
            &:nth-child(n+3) {
              margin-bottom: 5rem;
          }
            &:nth-child(4) {
                margin-bottom: 0;
            }
        }
    }
}
