#testimonials {
  position: relative;
  .slick-slider {
    &.slick-dotted {
      margin-bottom: 84px;
    }
    .slick-dots {
        bottom: -84px;
      li {
        margin-right: 12px;
        button:before {
          font-size: 2.3rem;
        }
      }
    }

    margin-top: 10rem;
    .small-title,
    .small-desc {
      color: $text-color-2;
    }
    .avatar {
      width: 27.5rem;
      height: 27.5rem;
      border-radius: 50%;
      border: 7px solid #ebebeb;
      background-size: cover;
      background-position: center center;
    }
    .customer {
      margin-top: 4.5rem;
      .content {
        display: table;
        margin-top: 6.5rem;
        .left {
          display: table-cell;
        }
        .right {
          display: table-cell;
          padding-left: 1.5rem;
          font: {
            size: 1.8rem;
            style: italic;
          }
          line-height: 3rem;
          .author {
            font-size: 2.4rem;
            line-height: 2.4rem;
            font-weight: bold;
            color: $text-color-2;
          }
        }
      }
    }
  }
}
