@import url(../fonts/Web/OpenSans/stylesheet.css);
@import url(../fonts/icon/style.css);
html, body {
  font-family: "Open Sans" !important; }

.hori-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.title, .big-title, .small-title {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.8rem;
  color: #fff; }

.desc {
  font-weight: 400;
  color: #fff; }

.pri-btn {
  color: #fff;
  background-color: #ea5b58;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 2px;
  border: none;
  padding: 13px 34px 12px 28px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .pri-btn:focus {
    outline: none; }
  .pri-btn:hover {
    background-color: #ff6a67; }

.big-title {
  font-size: 4.8rem;
  line-height: 3.6rem;
  text-align: center; }

.small-title {
  font-size: 3rem;
  line-height: 2.3rem;
  text-align: center; }

.big-desc {
  font-size: 2.4rem;
  line-height: 1.8rem;
  color: #fff;
  text-align: center;
  margin-top: 2.2rem; }

.small-desc {
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.1rem;
  margin-top: 2.1rem;
  margin-bottom: 1.8rem; }

@media screen and (max-width: 567px) {
  .big-title {
    line-height: 4.8rem; }
  .small-title {
    line-height: 3rem; }
  .big-desc {
    line-height: 2.4rem; }
  .small-desc {
    line-height: 1.8rem; } }

#navbar {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: #0d0b11;
  height: 8rem; }
  #navbar .logo {
    float: left;
    margin-top: 2.8rem; }
    #navbar .logo img {
      height: 24px; }
    #navbar .logo .icon {
      display: none;
      font-size: 2.4rem;
      line-height: 2.4rem;
      color: #fff;
      text-decoration: none; }
  #navbar .navbar {
    float: right;
    margin-top: 2.8rem; }
    #navbar .navbar a {
      font-size: 1.4rem;
      color: #fff;
      line-height: 2.4rem;
      margin-left: 5.2rem;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      #navbar .navbar a.active, #navbar .navbar a:hover {
        color: #ea5b58; }

@media screen and (max-width: 767px) {
  #navbar.h-auto {
    height: auto; }
  #navbar .logo {
    float: none; }
    #navbar .logo .icon {
      display: block;
      float: right; }
      #navbar .logo .icon:hover {
        color: #ea5b58; }
  #navbar .navbar {
    display: none;
    float: none; }
    #navbar .navbar.responsive {
      display: block; }
      #navbar .navbar.responsive a {
        display: block;
        text-align: center;
        margin-bottom: 2rem;
        margin-right: 0;
        margin-left: 0; } }

#header-content {
  background-color: #161828;
  padding-top: 8rem;
  position: relative;
  background-size: cover; }
  #header-content .header-title {
    font-size: 3.6rem;
    line-height: 2.6rem;
    margin-top: 12rem;
    margin-bottom: 4.6rem; }
  #header-content .desc {
    font-size: 2.4rem;
    line-height: 1.9rem;
    margin-bottom: 7rem; }
  #header-content .pri-btn {
    font-size: 1.8rem;
    line-height: 1.3rem;
    padding: 2.1rem 5.3rem 2rem 4.9rem;
    letter-spacing: 1px;
    margin-bottom: 13.7rem;
    border-radius: 3px; }
    #header-content .pri-btn:focus {
      outline: none; }
  #header-content .intro-img {
    padding-left: 46.5rem;
    padding-top: 35rem;
    background-size: cover;
    border-radius: 3px;
    border: none;
    margin-top: 5.5rem;
    position: absolute;
    right: 15px;
    z-index: 2;
    -webkit-box-shadow: -1px 1px 0px rgba(100, 101, 110, 0.7), -2px 2px 0px rgba(100, 101, 110, 0.7), -3px 3px 0px rgba(100, 101, 110, 0.7), -4px 4px 0px rgba(100, 101, 110, 0.7), -5px 5px 0px rgba(100, 101, 110, 0.7), -6px 6px 0px rgba(100, 101, 110, 0.7), -7px 7px 0px rgba(100, 101, 110, 0.7), -8px 8px 0px rgba(100, 101, 110, 0.7), -9px 9px 0px rgba(100, 101, 110, 0.7), -10px 10px 0px rgba(100, 101, 110, 0.7), -11px 11px 0px rgba(100, 101, 110, 0.7), -12px 12px 0px rgba(100, 101, 110, 0.7), -13px 13px 0px rgba(100, 101, 110, 0.7), -14px 14px 0px rgba(100, 101, 110, 0.7), -15px 15px 0px rgba(100, 101, 110, 0.7), -16px 16px 0px rgba(100, 101, 110, 0.7), -17px 17px 0px rgba(100, 101, 110, 0.7), -18px 18px 0px rgba(100, 101, 110, 0.7), -19px 19px 0px rgba(100, 101, 110, 0.7), -20px 20px 0px rgba(100, 101, 110, 0.7);
    box-shadow: -1px 1px 0px rgba(100, 101, 110, 0.7), -2px 2px 0px rgba(100, 101, 110, 0.7), -3px 3px 0px rgba(100, 101, 110, 0.7), -4px 4px 0px rgba(100, 101, 110, 0.7), -5px 5px 0px rgba(100, 101, 110, 0.7), -6px 6px 0px rgba(100, 101, 110, 0.7), -7px 7px 0px rgba(100, 101, 110, 0.7), -8px 8px 0px rgba(100, 101, 110, 0.7), -9px 9px 0px rgba(100, 101, 110, 0.7), -10px 10px 0px rgba(100, 101, 110, 0.7), -11px 11px 0px rgba(100, 101, 110, 0.7), -12px 12px 0px rgba(100, 101, 110, 0.7), -13px 13px 0px rgba(100, 101, 110, 0.7), -14px 14px 0px rgba(100, 101, 110, 0.7), -15px 15px 0px rgba(100, 101, 110, 0.7), -16px 16px 0px rgba(100, 101, 110, 0.7), -17px 17px 0px rgba(100, 101, 110, 0.7), -18px 18px 0px rgba(100, 101, 110, 0.7), -19px 19px 0px rgba(100, 101, 110, 0.7), -20px 20px 0px rgba(100, 101, 110, 0.7); }
  #header-content .Box1 {
    position: relative;
    z-index: 1; }
    #header-content .Box1::before {
      overflow: hidden;
      content: "";
      border-radius: 9px;
      position: absolute;
      width: 86rem;
      height: 45rem;
      top: 4.5rem;
      left: 6rem;
      background-color: #212331;
      z-index: -1;
      -webkit-box-shadow: -1px 1px 0px rgba(26, 27, 43, 0.7), -2px 2px 0px rgba(26, 27, 43, 0.7), -3px 3px 0px rgba(26, 27, 43, 0.7), -4px 4px 0px rgba(26, 27, 43, 0.7), -5px 5px 0px rgba(26, 27, 43, 0.7), -6px 6px 0px rgba(26, 27, 43, 0.7), -7px 7px 0px rgba(26, 27, 43, 0.7), -8px 8px 0px rgba(26, 27, 43, 0.7), -9px 9px 0px rgba(26, 27, 43, 0.7), -10px 10px 0px rgba(26, 27, 43, 0.7), -11px 11px 0px rgba(26, 27, 43, 0.7), -12px 12px 0px rgba(26, 27, 43, 0.7), -13px 13px 0px rgba(26, 27, 43, 0.7), -14px 14px 0px rgba(26, 27, 43, 0.7), -15px 15px 0px rgba(26, 27, 43, 0.7), -16px 16px 0px rgba(26, 27, 43, 0.7), -17px 17px 0px rgba(26, 27, 43, 0.7), -18px 18px 0px rgba(26, 27, 43, 0.7), -19px 19px 0px rgba(26, 27, 43, 0.7), -20px 20px 0px rgba(26, 27, 43, 0.7), -21px 20px 0px rgba(26, 27, 43, 0.7), -22px 21px 0px rgba(26, 27, 43, 0.7), -23px 22px 0px rgba(26, 27, 43, 0.7), -24px 23px 0px rgba(26, 27, 43, 0.7), -25px 24px 0px rgba(26, 27, 43, 0.7), -26px 25px 0px rgba(26, 27, 43, 0.7), -26px 26px 0px rgba(26, 27, 43, 0.7), -27px 27px 0px rgba(26, 27, 43, 0.7), -28px 28px 0px rgba(26, 27, 43, 0.7), -29px 29px 0px rgba(26, 27, 43, 0.7), -30px 30px 0px rgba(26, 27, 43, 0.7), -31px 31px 0px rgba(26, 27, 43, 0.7), -32px 32px 0px rgba(26, 27, 43, 0.7), -33px 33px 0px rgba(26, 27, 43, 0.7), -34px 34px 0px rgba(26, 27, 43, 0.7), -35px 35px 0px rgba(26, 27, 43, 0.7);
      box-shadow: -1px 1px 0px rgba(26, 27, 43, 0.7), -2px 2px 0px rgba(26, 27, 43, 0.7), -3px 3px 0px rgba(26, 27, 43, 0.7), -4px 4px 0px rgba(26, 27, 43, 0.7), -5px 5px 0px rgba(26, 27, 43, 0.7), -6px 6px 0px rgba(26, 27, 43, 0.7), -7px 7px 0px rgba(26, 27, 43, 0.7), -8px 8px 0px rgba(26, 27, 43, 0.7), -9px 9px 0px rgba(26, 27, 43, 0.7), -10px 10px 0px rgba(26, 27, 43, 0.7), -11px 11px 0px rgba(26, 27, 43, 0.7), -12px 12px 0px rgba(26, 27, 43, 0.7), -13px 13px 0px rgba(26, 27, 43, 0.7), -14px 14px 0px rgba(26, 27, 43, 0.7), -15px 15px 0px rgba(26, 27, 43, 0.7), -16px 16px 0px rgba(26, 27, 43, 0.7), -17px 17px 0px rgba(26, 27, 43, 0.7), -18px 18px 0px rgba(26, 27, 43, 0.7), -19px 19px 0px rgba(26, 27, 43, 0.7), -20px 20px 0px rgba(26, 27, 43, 0.7), -21px 20px 0px rgba(26, 27, 43, 0.7), -22px 21px 0px rgba(26, 27, 43, 0.7), -23px 22px 0px rgba(26, 27, 43, 0.7), -24px 23px 0px rgba(26, 27, 43, 0.7), -25px 24px 0px rgba(26, 27, 43, 0.7), -26px 25px 0px rgba(26, 27, 43, 0.7), -26px 26px 0px rgba(26, 27, 43, 0.7), -27px 27px 0px rgba(26, 27, 43, 0.7), -28px 28px 0px rgba(26, 27, 43, 0.7), -29px 29px 0px rgba(26, 27, 43, 0.7), -30px 30px 0px rgba(26, 27, 43, 0.7), -31px 31px 0px rgba(26, 27, 43, 0.7), -32px 32px 0px rgba(26, 27, 43, 0.7), -33px 33px 0px rgba(26, 27, 43, 0.7), -34px 34px 0px rgba(26, 27, 43, 0.7), -35px 35px 0px rgba(26, 27, 43, 0.7); }
  #header-content::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(22, 24, 40, 0.9); }

@media screen and (max-width: 1199px) {
  #header-content .header-title {
    font-size: 3rem; }
  #header-content .desc {
    font-size: 2rem; }
  #header-content .pri-btn {
    margin-bottom: 9rem; }
  #header-content .intro-img {
    -webkit-transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top; } }

@media screen and (max-width: 991px) {
  #header-content .intro-img {
    -webkit-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    position: static;
    margin-top: 0; }
  #header-content .Box::before {
    -webkit-transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top; } }

@media screen and (max-width: 767px) {
  #header-content .intro-img {
    -webkit-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8); }
  #header-content .Box::before {
    -webkit-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top; }
  #header-content .pri-btn {
    margin-bottom: 5rem; } }

@media screen and (max-width: 567px) {
  #header-content .header-title {
    font-size: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 2.6rem; }
  #header-content .desc {
    font-size: 1.8rem;
    margin-bottom: 4rem; }
  #header-content .pri-btn {
    margin-bottom: 5rem; }
  #header-content .Box::before {
    width: 22rem;
    height: 20rem;
    top: 2.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  #header-content .intro-img {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    padding-left: 22rem;
    padding-top: 19rem;
    margin-bottom: 5rem; } }

#services {
  background-color: #475a85;
  position: relative;
  z-index: 3;
  padding-top: 7.2rem;
  padding-bottom: 10rem; }
  #services img {
    margin-bottom: 7.4rem; }
  #services .services-content .service-item .icon {
    font-size: 57px;
    color: #fff;
    text-align: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    #services .services-content .service-item .icon:hover {
      color: #ea5b58; }
  #services .services-content .service-item .item-title {
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.4rem;
    margin-bottom: 1.8rem; }
  #services .services-content .service-item .item-desc {
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding-left: 2.6rem;
    padding-right: 2.6rem;
    margin-bottom: 3rem; }
  #services .services-content .service-item .pri-btn {
    font-size: 1.1rem;
    line-height: 0.8rem; }

@media screen and (max-width: 991px) {
  #services .service-item {
    margin-bottom: 5rem; }
    #services .service-item:nth-child(n+3) {
      margin-bottom: 0; } }

@media screen and (max-width: 767px) {
  #services .service-item {
    margin-bottom: 5rem; }
    #services .service-item:nth-child(n+3) {
      margin-bottom: 5rem; }
    #services .service-item:nth-child(4) {
      margin-bottom: 0; } }

@media screen and (max-width: 567px) {
  #services .service-item {
    margin-bottom: 5rem; }
    #services .service-item:nth-child(n+3) {
      margin-bottom: 5rem; }
    #services .service-item:nth-child(4) {
      margin-bottom: 0; } }

#works {
  background-size: cover;
  background-position: center center;
  padding-top: 19.6rem;
  padding-bottom: 15rem; }

#portofolio {
  padding-top: 9rem; }
  #portofolio .small-title {
    color: #323232; }
  #portofolio .small-desc {
    color: #323232; }
  #portofolio .breadcrumb {
    list-style: none;
    text-align: center;
    margin-top: 8.5rem;
    margin-bottom: 4.8rem;
    padding-left: 0; }
    #portofolio .breadcrumb li {
      display: inline;
      color: #a7a7a7;
      padding: 0 4px;
      font-size: 1.8rem;
      line-height: 1.4rem; }
      #portofolio .breadcrumb li.active, #portofolio .breadcrumb li:hover {
        color: #323232; }
      #portofolio .breadcrumb li:hover {
        cursor: pointer; }
  #portofolio .imglist .element-item {
    margin-bottom: 3rem;
    text-align: center; }
    #portofolio .imglist .element-item .img-item {
      position: relative;
      display: inline-block; }
      #portofolio .imglist .element-item .img-item .over-lay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: rgba(71, 90, 133, 0.7);
        display: table;
        opacity: 0;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        #portofolio .imglist .element-item .img-item .over-lay .content {
          color: #fff;
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          padding: 0 5.5rem; }
          #portofolio .imglist .element-item .img-item .over-lay .content h1 {
            font-size: 2.4rem;
            font-weight: bold;
            line-height: 2.4rem;
            margin-top: 0; }
          #portofolio .imglist .element-item .img-item .over-lay .content p {
            font-size: 1.4rem;
            line-height: 1.8rem; }
          #portofolio .imglist .element-item .img-item .over-lay .content i {
            font-size: 2.8rem; }
        #portofolio .imglist .element-item .img-item .over-lay:hover {
          opacity: 1; }
  #portofolio .browse {
    margin-top: 4rem; }
    #portofolio .browse p {
      font-size: 1.8rem;
      line-height: 1.3rem;
      font-weight: bold;
      color: #323232;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      display: block; }
    #portofolio .browse img {
      margin-top: 0.4rem; }

#testimonials {
  position: relative; }
  #testimonials .slick-slider {
    margin-top: 10rem; }
    #testimonials .slick-slider.slick-dotted {
      margin-bottom: 84px; }
    #testimonials .slick-slider .slick-dots {
      bottom: -84px; }
      #testimonials .slick-slider .slick-dots li {
        margin-right: 12px; }
        #testimonials .slick-slider .slick-dots li button:before {
          font-size: 2.3rem; }
    #testimonials .slick-slider .small-title,
    #testimonials .slick-slider .small-desc {
      color: #323232; }
    #testimonials .slick-slider .avatar {
      width: 27.5rem;
      height: 27.5rem;
      border-radius: 50%;
      border: 7px solid #ebebeb;
      background-size: cover;
      background-position: center center; }
    #testimonials .slick-slider .customer {
      margin-top: 4.5rem; }
      #testimonials .slick-slider .customer .content {
        display: table;
        margin-top: 6.5rem; }
        #testimonials .slick-slider .customer .content .left {
          display: table-cell; }
        #testimonials .slick-slider .customer .content .right {
          display: table-cell;
          padding-left: 1.5rem;
          font-size: 1.8rem;
          font-style: italic;
          line-height: 3rem; }
          #testimonials .slick-slider .customer .content .right .author {
            font-size: 2.4rem;
            line-height: 2.4rem;
            font-weight: bold;
            color: #323232; }

#touch {
  margin-top: 9.9rem;
  background-size: cover;
  background-position: center center;
  padding-top: 19.6rem;
  padding-bottom: 15rem; }

#map .map-iframe {
  width: 100%;
  height: 51rem; }

#contacts {
  background-color: #475a85;
  padding: 10rem 0 9.5rem;
  position: relative; }
  #contacts .contacts-content {
    margin-top: 6.7rem; }
    #contacts .contacts-content .info p {
      font-size: 1.8rem;
      line-height: 1.4rem;
      color: #fff;
      margin-bottom: 3rem; }
      #contacts .contacts-content .info p:first-child {
        font-weight: bold;
        margin-bottom: 2.2rem;
        margin-top: 1.8rem; }
      #contacts .contacts-content .info p:nth-child(2) {
        margin-bottom: 3.7rem; }
      #contacts .contacts-content .info p i {
        color: #c0c0c0;
        margin-right: 1rem; }
      #contacts .contacts-content .info p a {
        color: #fff; }
    #contacts .contacts-content .info ul {
      padding-left: 0;
      padding-top: 2.5rem;
      list-style: none; }
      #contacts .contacts-content .info ul li {
        display: inline-block;
        background-color: #c0c0c0;
        border-radius: 50%;
        height: 3.5rem;
        width: 3.5rem;
        text-align: center;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        margin-right: 1.5rem; }
        #contacts .contacts-content .info ul li i {
          line-height: 3.5rem;
          color: #475a85; }
        #contacts .contacts-content .info ul li:hover {
          background-color: #fff; }
    #contacts .contacts-content .form input {
      padding-top: 2.5rem;
      padding-bottom: 2.2rem;
      padding-left: 2.2rem;
      margin-bottom: 2.2rem;
      border-radius: 3px;
      border: none;
      display: block;
      width: 100%; }
      #contacts .contacts-content .form input:focus {
        outline: none; }
      #contacts .contacts-content .form input::-webkit-input-placeholder {
        font-size: 1.8rem; }
      #contacts .contacts-content .form input:-ms-input-placeholder {
        font-size: 1.8rem; }
      #contacts .contacts-content .form input::-ms-input-placeholder {
        font-size: 1.8rem; }
      #contacts .contacts-content .form input::placeholder {
        font-size: 1.8rem; }
    #contacts .contacts-content .form textarea {
      margin-bottom: 2.2rem;
      padding-left: 2.2rem;
      padding-top: 2.2rem;
      display: block;
      width: 100%;
      border: none;
      border-radius: 3px;
      resize: none; }
      #contacts .contacts-content .form textarea::-webkit-input-placeholder {
        font-size: 1.8rem;
        line-height: 1.3rem; }
      #contacts .contacts-content .form textarea:-ms-input-placeholder {
        font-size: 1.8rem;
        line-height: 1.3rem; }
      #contacts .contacts-content .form textarea::-ms-input-placeholder {
        font-size: 1.8rem;
        line-height: 1.3rem; }
      #contacts .contacts-content .form textarea::placeholder {
        font-size: 1.8rem;
        line-height: 1.3rem; }
      #contacts .contacts-content .form textarea:focus {
        outline: none; }
    #contacts .contacts-content .form .pri-btn {
      padding-left: 5.6rem;
      padding-right: 6rem; }
  #contacts .easyTop {
    position: fixed;
    bottom: 4.8rem;
    right: 3.3rem;
    border-radius: 5px;
    z-index: 999;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    #contacts .easyTop:hover {
      -webkit-box-shadow: 0 0 10px #ea5b58;
      box-shadow: 0 0 10px #ea5b58; }

@media screen and (min-width: 768px) {
  #contacts .contacts-content .form .col-sm-6:nth-child(1) {
    padding-right: 0;
    margin-right: 2.2rem; }
  #contacts .contacts-content .form .col-sm-6:nth-child(2) {
    padding-left: 0; }
  #contacts .contacts-content .form .col-sm-6 {
    width: calc((100% - 22px)/2); } }

@media screen and (max-width: 991px) {
  #contacts .contacts-content .info ul {
    padding-top: 0; }
  #contacts .contacts-content .form {
    margin-top: 5rem; } }

@media screen and (max-width: 567px) {
  #contacts .contacts-content .info p {
    line-height: unset; }
  #contacts .pri-btn {
    width: 100%; } }

#footer {
  background-color: #161828;
  padding-top: 6rem;
  padding-bottom: 5.8rem; }
  #footer .cpright {
    color: #fff;
    opacity: .5;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.3rem;
    padding-bottom: 2.7rem; }
  #footer img {
    opacity: 0.5; }
